@import "semantic-ui";

.chatbox {
  height: 450px;
}

.ui.vertical.menu {
  width: auto;
  border: 0px;
}

.content2 {
  padding: 0px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}